@import "assets/styles/_buttons";
@import "assets/styles/_typography";
@import "assets/styles/_variables";
*{
    margin: 0;
    padding: 0;
    font-family: $primaryfont;
}
body{
    background-image: url("assets/images/download.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    .navbar__list{
        display:flex;
        flex-direction: column; 
        .navbar__item{
            list-style-type: none;
            margin: 30px 10px;
        }
        .navbar__item a{
            color: $secondarycolor;
            text-decoration: wavy;
        }
        .navbar__title{
            color: $primarycolor;
            margin-left: 10px;
        }
    }

}