.far i {
  height: 30px;
  width: 30px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

body {
  background-color: black;
}

.welcome-image {
  width: 100vw;
}

.navbar {
  display: flex;
}
.navbar .navbar__list {
  display: flex;
  flex-direction: column;
}
.navbar .navbar__list .navbar__item {
  list-style-type: none;
  margin: 30px 10px;
}
.navbar .navbar__list .navbar__item a {
  color: white;
  text-decoration: wavy;
  font-size: 48px;
}
.navbar .navbar__list .navbar__title {
  color: white;
  margin-left: 10px;
  font-size: 56px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .projects__title {
  display: flex;
  justify-content: center;
  color: #b82453;
  margin-bottom: 10px;
  font-size: 48px;
  border-top: 2px solid #b82453;
}
.projects .projects__box {
  display: flex;
  flex-direction: column;
}
.projects .projects__box .projects__box__display {
  display: flex;
  align-items: center;
  height: 500px;
  width: 300px;
  border: 1px solid white;
  margin: auto;
}
.projects .projects__box .projects__box__display img {
  height: 500px;
  width: 300px;
}
.projects .projects__box h4 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 15px 0px;
  text-decoration: underline;
}
.projects .projects__box p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 25px;
  font-size: 24px;
}

.about .about__box {
  border-top: 2px solid #b82453;
  margin: 10px;
  padding-top: 20px;
  justify-content: center;
}
.about .about__box h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.about .about__box p {
  font-size: 24px;
  margin: 25px;
}

@media screen and (min-width: 600px) {
  .welcome-image {
    height: 200px;
  }

  .navbar {
    display: flex;
  }
  .navbar .navbar__list {
    display: flex;
    flex-direction: row;
  }
  .navbar :first-child {
    margin-right: 40px;
  }

  .projects {
    display: flex;
    flex-direction: row;
  }
  .projects .projects__title {
    display: none;
  }
  .projects .projects__box p {
    padding: 50px;
  }

  .about {
    margin: 40px;
  }
  .about p {
    display: flex;
    justify-content: center;
  }
}