body {
  background-image: url("assets/images/download.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
}
.navbar .navbar__list {
  display: flex;
  flex-direction: column;
}