@import "assets/styles/_buttons";
@import "assets/styles/_typography";
@import "assets/styles/_variables";
@import "assets/styles/_icons";
*{
    margin: 0;
    padding: 0;
    font-family: $primaryfont;
    color: $primarycolor;
}


body {
    background-color: black;
}

.welcome-image{
    width: 100vw;
}
.navbar{
    display: flex;
    .navbar__list{
        display:flex;
        flex-direction: column; 
        .navbar__item{
            list-style-type: none;
            margin: 30px 10px;
        }
        .navbar__item a{
            color: $primarycolor;
            text-decoration: wavy;
            font-size: 48px; 
        }
        .navbar__title{
            color: $primarycolor;
            margin-left: 10px;
            font-size: 56px;
        }
    }
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .projects__title{
        display:flex;
        justify-content: center;
        color: $secondarycolor;
        margin-bottom: 10px;
        font-size: 64px;
    }
    .projects__box{
        display: flex;
        flex-direction: column;
        .projects__box__display{
            display: flex;
            align-items: center;
            height: 500px;
            width: 300px;
            border: 1px solid $primarycolor;
            margin: auto;
            img{
                height: 500px;
                width: 300px;
            }
        }
        h4{
            color: $primarycolor;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
        }
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primarycolor;
            margin: 10px;
            font-size: 20px;
        };  
    };
};
