* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: black;
}

.navbar {
  display: flex;
}
.navbar .navbar__list {
  display: flex;
  flex-direction: column;
}
.navbar .navbar__list .navbar__item {
  list-style-type: none;
  margin: 30px 10px;
}
.navbar .navbar__list .navbar__item a {
  color: #6cf9ff;
  text-decoration: wavy;
  font-size: 58px;
}
.navbar .navbar__list .navbar__title {
  color: white;
  margin-left: 10px;
  font-size: 64px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 40px;
}
.projects .projects__title {
  display: flex;
  justify-content: center;
  color: #6cf9ff;
  margin-bottom: 10px;
}
.projects .projects__box {
  background-color: #655d78;
}
.projects .projects__box h4 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
.projects .projects__box p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 10px;
  padding: 0px 20px;
}
.projects .projects__box__display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  border: 1px solid white;
  margin-left: 30px;
}